@media screen and (max-width: 1180px) {
  .card-case {
    &__col-1,
    &__col-2,
    &__col-3,
    &__col-4,
    &__col-5,
    &__col-6 {
      width: 50%;
      min-height: 0;
    }
    &__col-3 {
      border-right: 1px solid white;
    }
    &__col-4 {
      border-right: none;
    }
  }
}

@media screen and (max-width: 698px) {
  .card-case {
    &__col-1,
    &__col-2,
    &__col-3,
    &__col-4,
    &__col-5,
    &__col-6 {
      width: 100%;
      border-right: none;
      min-height: 0;
    }
  }
}
