.h {
  &-1 {
    &-sm {
      font-size: $font-size-h1-sm;
    }
  }
  &-3 {
    font-size: $font-size--h3;
    font-weight: 500;
  }
  &-3-caps {
    font-size: $font-size--h3-caps;
    text-transform: uppercase;
    font-weight: 700;
  }
  &-4 {
    font-size: $font-size--h4;
    font-weight: 400;
  }
}

.txt {
  font-size: $font-size--txt;
  line-height: 22px;
  &-sm {
    font-size: $font-size--sm
  }
  // colors
  &--white {
    color: $white;
  }
  &--accent {
    color: $accent;
  }
  &--main-soft {
    color: $main-soft;
  }
  &--grey-3 {
    color: $grey-3;
  }
  &--active {
    color: $active;
  }
  &--black {
    color: $black;
  }
  &--bold {
    font-weight: 700;
  }
  &--medium {
    font-weight: 500;
  }
  &--normal {
    font-weight: 400;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}
